name: "Hello World Workflow"
run-name: "Hello World from ${{ github.actor }}"
on: 
  push:
  workflow_dispatch:
jobs:
    hello:
        runs-on: ubuntu-latest
        steps:
            - run: echo "Hello World"
            - name: "Now it is"
              run: date
            - name: "Directory content"
              run: ls -l .