name: Playwright Tests
run-name: Playwright Tests
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    container: ${{ github.event_name == 'push' && 'mcr.microsoft.com/playwright:v1.57.0-jammy' || '' }}
    env:
      PLAYWRIGHT_SKIP_BROWSER_INSTALL: ${{ github.event_name == 'push' && 'true' || '' }}
      HOME: /root
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - name: Cache node_modules
      id: cache-npm
      uses: actions/cache@v4
      with:
        path: ./node_modules
        key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
    - name: Install dependencies
      if: steps.cache-npm.outputs.cache-hit != 'true'
      run: npm ci
    - name: Cache Playwright Browsers
      if: env.PLAYWRIGHT_SKIP_BROWSER_INSTALL != 'true'
      uses: actions/cache@v4
      id: cache-browsers
      with:
        path: ~/.cache/ms-playwright
        key: ${{ runner.os }}-playwright-${{ hashFiles('package-lock.json') }}
    - name: Install Playwright Browsers
      if: steps.cache-browsers.outputs.cache-hit != 'true' && env.PLAYWRIGHT_SKIP_BROWSER_INSTALL != 'true'
      run: npx playwright install --with-deps
    - name: Run Playwright tests
      run: npx playwright test
    - name: Upload test results
      if: always() && github.token != ''
      uses: actions/upload-artifact@v4
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
